[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
discord-py = "*"
pillow = "*"
pymongo = {extras = ["tls"],version = "*"}
python-dotenv = "*"
dnspython = "*"
discord-flags = "*"
unidecode = "*"
humanfriendly = "*"
motor = "*"
umongo = "==3.0.0b7"
flask = "*"
requests = "*"
gunicorn = "*"
dblpy = "*"
jishaku = "*"
pytz = "*"
"discord.py" = "*"
pokedex = {git = "https://github.com/veekun/pokedex.git"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
