[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pillow = "*"
pymongo = {extras = ["tls"],version = "*"}
python-dotenv = "*"
discord-flags = "*"
unidecode = "*"
humanfriendly = "*"
motor = "*"
umongo = "==3.0.0b7"
flask = "*"
dblpy = "*"
jishaku = "*"
"discord.py" = "==1.4.1"
pokedex = {git = "https://github.com/veekun/pokedex.git"}
geocoder = "*"
suntime = "*"
numpy = "*"
websockets = "*"
requests = "*"
dnspython = "*"
discord-ext-alternatives = "*"
aioconsole = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
