[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
discord-py = "*"
pillow = "*"
pymongo = {extras = ["tls"],version = "*"}
python-dotenv = "*"
dnspython = "*"
requests = "*"
discord-flags = "*"
unidecode = "*"
humanfriendly = "*"
motor = "*"
umongo = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
